:root {
  --color-primary: hsl(35, 100%, 94%);

  --color-accent-100: hsl(34, 100%, 95%);
  --color-accent-200: hsl(33, 100%, 83%);
  --color-accent-300: hsl(29, 100%, 58%);
  --color-accent-400: hsl(27, 98%, 54%);
  --color-accent-500: #f76808;
  --color-accent-600: hsl(21, 90%, 48%);
  --color-accent-700: hsl(17, 87%, 45%);
  --color-accent-800: hsl(31, 98%, 34%);
  --color-accent-900: hsl(31, 100%, 35%);
  --gradient-primary: linear-gradient(
    to top,
    hsl(33, 100%, 83%),
    hsl(24, 94%, 50%)
  );

  --fs-xl: 8rem;
  --fs-800: 4rem;
  --fs-700: 2.4rem;
  --fs-600: 2rem;
  --fs-500: 1.8rem;
  --fs-400: 1.6rem;
  --fs-300: 1.4rem;
}

@media (max-width: 75em) {
  :root {
    --fs-xl: clamp(3.5rem, 12vw + 1rem, 8rem);
    --fs-800: 3rem;
    --fs-700: 2rem;
    --fs-600: 1.8rem;
    --fs-500: 1.6rem;
    --fs-400: 1.6rem;
    --fs-300: 1.4rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: var(--fs-500);
  color: #666;
  line-height: 1.8;
  background-color: #f3f3f3;
}

h1 {
  font-size: var(--fs-xl);
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

h1,
h3,
h4,
h5 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  color: #030712;
}

/* GENERAL ELEMENTS */
.section {
  padding: 15rem 3rem;
  border-top: 1px solid #ddd;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section__title {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
}

.section__description {
  font-size: var(--fs-500);
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-accent-500);
  margin-bottom: 1rem;
}

.section__header {
  font-size: var(--fs-800);
  line-height: 1.3;
}

.btn {
  display: inline-block;
  background-color: #030712;
  color: #f3f4f6;
  font-size: var(--fs-500);
  letter-spacing: 0.25px;
  font-family: inherit;
  font-weight: 500;
  border: none;
  padding: 0.8rem 2.4rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.btn:hover {
  background-color: #1f2937;
}
.btn:active {
  background-color: #111827;
}

.btn--outline {
  background-color: transparent;
  color: #030712;
  border: 1px solid #030712;
}

.btn--outline:hover,
.btn--outline:active {
  color: #f3f4f6;
}

.btn--text {
  font-size: var(--fs-500);
}

p {
  color: #666;
}

img {
  max-width: 100%;
  transition: filter 0.5s;
}

.lazy-img {
  filter: blur(20px);
}

/* NAVIGATION */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  width: 100%;
  padding: 2rem 6rem;
  z-index: 100;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.nav__logo {
  height: 4.5rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: var(--fs-400);
  font-weight: 400;
  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.btn--nav:link,
.btn--nav:visited {
  font-size: var(--fs-400);
  color: #f3f4f6;
}

/* Mobile Navigation */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.mobile__btn {
  display: none;
  background-color: transparent;
  border: none;
  width: 3.2rem;
  height: 3.2rem;
}

#navigation-items[data-visible='true'] {
  transform: none;
}

#mobile-nav-toggle {
  background-image: url(/img/list-bold.svg);
  background-repeat: no-repeat;
}

#mobile-nav-toggle[aria-expanded='true'] {
  background-image: url(/img/x-bold.svg);
  position: fixed;
  top: 3.1rem;
  right: 3rem;
}

/* Header & Hero */
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      rgba(222, 222, 222, 0.7),
      rgba(222, 222, 222, 0.7)
    ),
    url(/img/header-img.jpg);
  background-size: cover;
  /* padding: 0 3rem; */
  height: 100vh;
}

.header__title {
  color: #030712;
  max-width: 100rem;
  text-align: center;
  margin-block: auto;
}

.header__subheading {
  color: #343a40;
  font-size: var(--fs-700);
  font-weight: 400;
  margin-bottom: 2.4rem;
}

h4 {
  font-size: var(--fs-700);
  font-weight: 500;
}

.header__btns {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
}

.highlight {
  position: relative;
  color: var(--color-accent-darker);
}

.highlight::after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0.3;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

/* FEATURES */
.features {
  display: grid;
  gap: 3.2rem;
  margin: 0 12rem;
  grid-template-columns: 1fr 1fr;
}

.features__img {
  max-width: 100%;
}

.features__feature {
  align-self: center;
  justify-self: center;
  width: 70%;
}

.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent-500);
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  margin-bottom: 2.4rem;
}

.features__icon svg {
  height: 3.2rem;
  width: 3.2rem;
  fill: var(--color-accent-100);
}

.features__header {
  font-size: var(--fs-700);
  margin-bottom: 1rem;
}

/* OPERATIONS */
.operations {
  max-width: 100rem;
  margin: 12rem auto 0 auto;
  background-color: #fff;
}

.operations__tab-container {
  display: flex;
  justify-content: center;
}

.operations__tab {
  font-size: var(--fs-400);
  background-color: #030712;
  color: #fff;
  margin-right: 2.5rem;
  transform: translateY(-50%);
  transition: background 0.3s ease-in-out;
}

.operations__tab:hover {
  background-color: var(--color-accent-700);
}

.operations__tab span {
  margin-right: 1rem;
  font-weight: 600;
  display: inline-block;
}

.operations__tab--active {
  background-color: var(--color-accent-700);
  transform: translateY(-66%);
}

.operations__content {
  display: none;

  /* JUST PRESENTATIONAL */
  font-size: var(--fs-500);
  padding: 2.5rem 7rem 6.5rem 7rem;
}

.operations__content--active {
  display: grid;
  grid-template-columns: 7rem 1fr;
  column-gap: 3rem;
  row-gap: 0.5rem;
}

.operations__header {
  font-size: var(--fs-600);
  font-weight: 500;
  align-self: center;
  margin-bottom: 2.4rem;
}

.operations__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent-500);
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

.operations__icon svg {
  height: 3.2rem;
  width: 3.2rem;
  fill: var(--color-accent-100);
}

.operations__content p {
  grid-column: 2;
}

/* TESTIMONIALS */

.testimonial__header {
  font-size: var(--fs-700);
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.testimonial__text {
  font-size: var(--fs-500);
  margin-bottom: 3.2rem;
  color: #666;
}

.testimonial__author {
  font-style: normal;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-left: 3.2rem;
}

.testimonial__photo {
  width: 8rem;
  border-radius: 50%;
  border: 5px solid var(--color-accent-200);
}

.testimonial__author-info {
  display: flex;
  flex-direction: column;
}

.testimonial__name {
  font-size: 1.6rem;
  font-weight: 500;
}

.testimonial__location {
  font-size: 1.5rem;
}

.section__title--testimonials {
  margin-bottom: 4rem;
}

/* SIGNUP */
.section--sign-up {
  background-color: #0b0a10;
  border-top: none;
  border-bottom: 1px solid #444;
  text-align: center;
  padding: 10rem 3rem;

  /*Background from:  https://bgjar.com/wave */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1492%26quot%3b)' fill='none'%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath1493%26quot%3b)' x='1232.61' y='418.06' fill='url(%26quot%3b%23SvgjsPattern1494%26quot%3b)' transform='rotate(101.6%2c 1262.61%2c 448.06)'%3e%3c/rect%3e%3cpath d='M718.8399999999999 101.47999999999999 L756.6099999999999 67.66L764.7677941386422 111.61279413864226z' stroke='rgba(191%2c 74%2c 36%2c 1)' stroke-width='1.77'%3e%3c/path%3e%3ccircle r='52.87308403540476' cx='1350.68' cy='37.74' fill='rgba(58%2c 57%2c 65%2c 1)'%3e%3c/circle%3e%3crect width='216' height='216' clip-path='url(%26quot%3b%23SvgjsClipPath1495%26quot%3b)' x='869.51' y='221.76' fill='url(%26quot%3b%23SvgjsPattern1496%26quot%3b)' transform='rotate(69.18%2c 977.51%2c 329.76)'%3e%3c/rect%3e%3crect width='304' height='304' clip-path='url(%26quot%3b%23SvgjsClipPath1497%26quot%3b)' x='864.65' y='257.71' fill='url(%26quot%3b%23SvgjsPattern1498%26quot%3b)' transform='rotate(79.37%2c 1016.65%2c 409.71)'%3e%3c/rect%3e%3crect width='320.15999999999997' height='320.15999999999997' clip-path='url(%26quot%3b%23SvgjsClipPath1499%26quot%3b)' x='1057.67' y='125' fill='url(%26quot%3b%23SvgjsPattern1500%26quot%3b)' transform='rotate(355.02%2c 1217.75%2c 285.08)'%3e%3c/rect%3e%3crect width='158.16' height='158.16' clip-path='url(%26quot%3b%23SvgjsClipPath1501%26quot%3b)' x='775.93' y='337.65' fill='url(%26quot%3b%23SvgjsPattern1502%26quot%3b)' transform='rotate(81.53%2c 855.01%2c 416.73)'%3e%3c/rect%3e%3cpath d='M492.52 626.74 L377.02 579.05L364.0791593885982 673.5858406114017z' stroke='rgba(191%2c 74%2c 36%2c 1)' stroke-width='1.82' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3crect width='124.8' height='124.8' clip-path='url(%26quot%3b%23SvgjsClipPath1503%26quot%3b)' x='320.07' y='351.58' fill='url(%26quot%3b%23SvgjsPattern1504%26quot%3b)' transform='rotate(112.9%2c 382.47%2c 413.98)'%3e%3c/rect%3e%3crect width='336' height='336' clip-path='url(%26quot%3b%23SvgjsClipPath1505%26quot%3b)' x='156.8' y='-82.62' fill='url(%26quot%3b%23SvgjsPattern1506%26quot%3b)' transform='rotate(50.16%2c 324.8%2c 85.38)'%3e%3c/rect%3e%3ccircle r='56.35185978642828' cx='23.13' cy='487.05' fill='rgba(58%2c 57%2c 65%2c 1)'%3e%3c/circle%3e%3cpath d='M266.87 196.67 L401.46000000000004 47.64L224.62331553200283 12.613315532002815z' stroke='rgba(58%2c 57%2c 65%2c 1)' stroke-width='1.67' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1492'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1494'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(58%2c 57%2c 65%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1493'%3e%3ccircle r='15' cx='1262.61' cy='448.06'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1496'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(191%2c 74%2c 36%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1495'%3e%3ccircle r='54' cx='977.51' cy='329.76'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='8' height='8' patternUnits='userSpaceOnUse' id='SvgjsPattern1498'%3e%3cpath d='M0 8L4 0L8 8' stroke='rgba(191%2c 74%2c 36%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1497'%3e%3ccircle r='76' cx='1016.65' cy='409.71'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='13.34' height='13.34' patternUnits='userSpaceOnUse' id='SvgjsPattern1500'%3e%3cpath d='M0 13.34L6.67 0L13.34 13.34' stroke='rgba(58%2c 57%2c 65%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1499'%3e%3ccircle r='80.03999999999999' cx='1217.75' cy='285.08'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='158.16' height='13.18' patternUnits='userSpaceOnUse' id='SvgjsPattern1502'%3e%3crect width='158.16' height='6.59' x='0' y='0' fill='rgba(58%2c 57%2c 65%2c 1)'%3e%3c/rect%3e%3crect width='158.16' height='6.59' x='0' y='6.59' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1501'%3e%3ccircle r='39.54' cx='855.01' cy='416.73'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='124.8' height='12.48' patternUnits='userSpaceOnUse' id='SvgjsPattern1504'%3e%3crect width='124.8' height='6.24' x='0' y='0' fill='rgba(191%2c 74%2c 36%2c 1)'%3e%3c/rect%3e%3crect width='124.8' height='6.24' x='0' y='6.24' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1503'%3e%3ccircle r='31.2' cx='382.47' cy='413.98'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='336' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1506'%3e%3crect width='336' height='3' x='0' y='0' fill='rgba(191%2c 74%2c 36%2c 1)'%3e%3c/rect%3e%3crect width='336' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1505'%3e%3ccircle r='84' cx='324.8' cy='85.38'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section--sign-up .section__header {
  color: var(--color-primary);
  text-align: center;
  margin-bottom: 2.4rem;
}

.section--sign-up .section__title {
  margin-bottom: 6rem;
}

.section--sign-up .section__description {
  text-transform: none;
  color: var(--color-primary);
}

.section--sign-up .btn {
  background-color: var(--color-accent-500);
  font-size: var(--fs-500);
  padding: 2rem 5rem;
}

.section--sign-up .btn:hover {
  background-color: var(--color-accent-400);
}
.section--sign-up .btn:active {
  background-color: var(--color-accent-700);
}

/* FOOTER */
.footer {
  padding: 10rem 3rem;
  background-color: #0b0a10;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: var(--fs-400);
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: var(--fs-300);
}

/* MODAL WINDOW */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

.modal__header {
  font-size: 3.25rem;
  margin-bottom: 4.5rem;
  line-height: 1.5;
}

.modal__form {
  margin: 0 3rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2.5rem;
}

.modal__form label {
  font-size: var(--fs-400);
  font-weight: 500;
}

.modal__form input {
  font-size: var(--fs-400);
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
  padding: 1rem 2.4rem;
}

.btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 4rem;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

/* COOKIE MESSAGE */
.cookie-message {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: white;
  color: #bbb;
  font-size: var(--fs-300);
  font-weight: 400;
}

/* NEW TESTIMONIALS*/

.section--testimonial {
  position: relative;
}

/* SWIPER */

/* Swiper container stylng */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  /* Center slide content vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial--swiper {
  width: 55%;
  margin-inline: auto;
  padding: 10vh;
  position: relative;
}

.testimonial--swiper::before {
  content: '\201C';
  position: absolute;
  top: 1rem;
  left: 1rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-accent-200);
  opacity: 0.5;
  z-index: -1;
}

.swiper-pagination {
  --swiper-theme-color: var(--color-accent-500);
  --swiper-pagination-bullet-inactive-color: var(--color-accent-400);
  --swiper-pagination-bullet-width: 10px;
  --swiper-pagination-bullet-height: 10px;
  --swiper-pagination-bottom: 3rem;
}

.swiper-button-next-unique,
.swiper-button-prev-unique {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;
  top: 48%;
  display: flex;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  background-color: var(--color-accent-200);
  transition: background 0.2s ease-in-out;
  cursor: pointer;
  z-index: 2;
}

.swiper-button-next-unique:hover,
.swiper-button-prev-unique:hover {
  background-color: var(--color-accent-300);
}

.swiper-button-prev-unique {
  left: 17%;
}
.swiper-button-next-unique {
  right: 17%;
}

.swiper-button-next-unique svg,
.swiper-button-prev-unique svg {
  width: 2.8rem;
  height: 2.8rem;
  fill: var(--color-accent-100);
}
